<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nightshadelabs.anotherbrowser"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14" />

    <application
        android:icon="@drawable/ic_launcher_browser"
        android:label="@string/app_name" 
        android:theme="@android:style/Theme.Dialog">
        <activity
            android:name=".AnotherBrowserActivity"
            android:label="@string/app_name"
             android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
            	<category android:name="android.intent.category.DEFAULT" />
            	<data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
  
    </application>

</manifest>